@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-secondary mt-4" asp-controller="Home" asp-action="Estoque">Estoque</a>
    <a class="btn btn-secondary mt-4" asp-controller="Home" asp-action="Fornecedor">Fornecedores</a>
    <a class="btn btn-secondary mt-4" asp-controller="Home" asp-action="Colaboradores">Novo colaborador</a>
</div>
