@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form id="loginForm">
    <div>
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required />
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required />
    </div>
    <button type="submit">Login</button>
</form>

<div id="loginMessage"></div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();

        var login = document.getElementById('login').value;
        var senha = document.getElementById('senha').value;

        fetch('https://localhost:7013/api/usuario/Login?login=' + login + '&senha=' + senha, {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => { throw new Error(text) });
                }
                return response.text();  
            })
            .then(data => {
                // Armazena a access key no localStorage
                localStorage.setItem('accessKey', data);
                // Redireciona para a página desejada
                window.location.href = '/Home/Index'; // Substitua pelo caminho correto
            })
            .catch(error => {
                document.getElementById('loginMessage').innerText = 'Error: ' + error.message;
            });
    });
</script>
