@{
    ViewData["Title"] = "Produtos";
}

@model Pim_da_Web_001.Models.Produto

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

<form asp-action="CriarProdutoForm" asp-controller="Home">

    <input hidden class="form-control" type="number" placeholder="0" asp-for="ID" />

    <label class="mt-4">Ativo</label>
    <input class="form-check" type="button" asp-for="Ativo" />

    <label class="mt-4">Nome</label>
    <input class="form-control" type="text" placeholder="" asp-for="Nome" required />

    <label class="mt-4">Valor KG $</label>
    <input class="form-control" type="number" placeholder="0,00" asp-for="ValorVendaKG" step="0.01" required />

    <label class="mt-4">Fornecedor</label>  <a class="btn btn-outline-secondary">search</a><br />

    <input class="form-control" type="number" placeholder="0" asp-for="EmpresaID" />

    <button class="btn btn-primary mt-4" type="submit">Ok</button>
</form>