@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
    <html>
    <head>
        <title>Relatorio de Venda</title>
    </head>
    <body>
        <h1>Relatorio detalhado de vendas (semanal) (mensal / trimestral / semestral) (anual)</h1>
    </body>
    </html>